html {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;

	font-family: serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	text-decoration: none;
}

body {
	display: grid;
	place-content: center;
	font-size: 1.6rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}

.navbar h1 {
	font-size: 5rem;
	color: lightcoral;
}

.navbar > * {
	text-decoration: none;
	color: inherit;
	font-size: x-large;
}

.links-ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 2rem;
	gap: 3rem;
	width: 50vw;
}

li {
	list-style: none;
}

li * {
	text-decoration: none;
	color: inherit;
}

li svg {
	transform: scale(1.382);
}

.themeIcon {
	transform: scale(1.6);
}
.themeIcon:hover {
	cursor: pointer;
}

.navbar-line {
	width: 80vw;
	border-bottom: 1px solid lightcoral;
	margin-left: auto;
	margin-right: auto;
}

.homepage-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.homepage-photo h4 {
	font-size: 2.5rem;
}

.homepage-photo a {
	text-decoration: underline;
	color: inherit;
	font-size: 2rem;
	font-style: oblique;
}

.about-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-page h2 {
	font-size: 5rem;
	color: hsl(0, 79%, 72%);
}

.about-page p {
	font-size: 3rem;
}

.about-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-image {
	transition: all 142ms ease-in-out;
	height: 60rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product-image:hover {
	transform: scale(1.382);
}

.products-title {
	font-size: 2.5rem;
	margin-left: 5rem;
}

.product-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 60rem;
	font-size: 2rem;
	padding: 0px 2rem;
	margin-left: 2rem;
}

.product-details select {
	margin: 2rem 0px;
	align-self: center;
}

.product-details button {
	margin: 2rem 0px;
	align-self: center;
	margin-left: 2rem;
}

.product-text {
	margin-bottom: -0.5rem;
	font-size: 2rem;
}

.cart-summary {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.button-and-break {
	display: grid;
	place-content: center;
}

.button-and-break button {
	font-size: 1.5rem;
}

.line-break {
	margin-top: 2rem;
	margin-bottom: 2px solid inherit;
}

.cart-item:nth-child(8n) {
	border-bottom: 1px solid;
	margin-bottom: 3rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidebar h3 {
	font-size: 3rem;
}

.sidebar li {
	font-size: 2rem;
}

.footer-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	height: 15vh;
	margin-left: auto;
	margin-right: auto;
}

.footer-line {
	width: 80vw;
	border-bottom: 1px solid lightcoral;
	margin-left: auto;
	margin-right: auto;
}

.footer-section h2 {
	font-size: 3rem;
}

.footer-followUs {
	width: 29vw;
}

.footer-svg {
	width: 51vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-section a {
	text-decoration: none;
	color: inherit;
}

svg:hover {
	cursor: pointer;
}

.order-summary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin-left: 3rem;
}

.order-summary button {
	margin-top: 2rem;
	transform: scale(1.382);
}

.order-summary button:hover {
	transform: scale(1.618);
}

.order-summary h3 {
	margin: 0px;
	font-size: 3rem;
}

.itemsInCart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.checkout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.checkout h3 {
	font-size: 3.5rem;
}

.checkout h4 {
	font-size: 2rem;
}
